div {
    border: 2px solid black;
    height: 75px;
    width: 75px;
    margin: 5px;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.violet {
    background-color: violet;
}