body{
    background-color: pink;
    margin: 0;
    padding: 0;
}
.head{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: fuchsia;
    flex-shrink: inherit;
    margin: 0;

}
.navP{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    background-color: lightblue;
    margin: 0;
}
.navC{
    padding: 10px;
    margin: 10px;
}
.navC a:hover{
    background-color: black;
    color: white;
    padding: 10px;
}
.imageP{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.imageC{
    border: 1px solid black;
    margin: 5px;
    box-shadow: 5px 5px purple;
}
.store-front{
    display: flex;
    justify-content: center;
    margin: 10%;
}
footer{
    display: flex;
    justify-content: space-evenly;
    flex-shrink: 0;
    background-color: grey;
}
.footer-listP{
    list-style: none;
    color: purple;
}
.footer-listC a {
    color: pink;
}
.footer-listC a:hover{
    color: green;
}
.fourmP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
.fourmP li{
    list-style: none;
}
p{
    width: 30%;
}